Django
djangorestframework
channels
djangorestframework-simplejwt
django-cors-headers
dj-database-url
pytest
pytest-django
pytest-asyncio
python-dotenv
black
flake8
daphne
channels-redis
whitenoise
psycopg2-binary
gunicorn